* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --ff-sans-serif: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
    sans-serif;

  --start: url("./images/play.svg");
  --shuffle: url("./images/shuffle.svg");
  --crosshair: url("./images/crosshair.svg");
  --replay: url("./images/replay.svg");

  --text: hsl(131, 52%, 96%);
  --background: hsl(135, 8%, 9%);
  --primary: hsl(130, 74%, 55%);
  --secondary: hsl(197, 97%, 50%);
  --accent: hsl(356, 80%, 48%);

  --border: 1px solid var(--text);
  --board-size: calc(max(18rem, 35vw) + 10px);
}

.popup.hide,
.buttons.hide,
.computer.hide {
  display: none;
}

body {
  font-family: var(--ff-sans-serif);
  min-height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
}

h1 {
  font-family: var(--ff-sans-serif);
  letter-spacing: 0.2rem;
  text-align: center;
  color: var(--background);
  font-size: 2.75em;
  margin-block: 1em;
  -webkit-text-stroke: 1px var(--primary);
}

.ui {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  max-width: 750px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-left: 1em;
}

button {
  --button-size: 4em;

  height: var(--button-size);
  width: var(--button-size);
  border: none;
  cursor: pointer;
  color: transparent;
  border-radius: 50%;
  background-color: var(--text);
  background-size: cover;
  outline: 2px solid var(--text);
  transition-property: background-color, outline-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}

button:focus-visible,
button:active {
  background-color: var(--primary);
  outline-color: var(--primary);
  filter: drop-shadow(0 0 0.5em var(--primary));
}

[data-start] {
  background-image: var(--start);
}

[data-shuffle] {
  background-image: var(--shuffle);
}

[data-restart] {
  background-image: var(--replay);
}

.board {
  height: var(--board-size);
  width: var(--board-size);
  aspect-ratio: 1/1;
  display: grid;
  border-left: var(--border);
  border-top: var(--border);
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: var(--background);
  cursor: not-allowed;
}

.board.player {
  box-shadow: 0 0 0 2px var(--secondary);
  filter: drop-shadow(0 0 0.6em var(--secondary));
}

.board.computer {
  box-shadow: 0 0 0 2px var(--accent);
  filter: drop-shadow(0 0 0.6em var(--accent));
}

.board div {
  border-bottom: var(--border);
  border-right: var(--border);
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
}

.board div.miss,
.board div.hit {
  pointer-events: none;
}

.board div.miss {
  background-color: hsla(from var(--text) h s l / 0.2);
}

.board div.hit {
  background-color: hsla(from var(--accent) h s l / 0.75);
}

.computer div:not(.miss) {
  cursor: var(--crosshair) 24 24, crosshair;
}

.player .carrier,
.player .battleship,
.player .submarine,
.player .destroyer,
.player .patrol-boat {
  background-color: var(--text);
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  inset: 0;
  background-color: var(--background);
  gap: 1.5em;
}

.result {
  width: 200px;
  color: var(--text);
  font-size: 2em;
  text-align: center;
}

.attribution {
  min-width: 100%;
  text-align: right;
  padding-top: 2em;
  margin: auto 1em 0.5em 0;
  font-size: 0.75em;
}

:any-link {
  color: var(--secondary);
}

@media screen and (max-width: 39.5em) {
  .ui {
    flex-direction: column;
  }

  .buttons {
    flex-direction: row;
    padding-top: 1em;
    padding-left: 0;
  }
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    background-color: var(--primary);
    outline-color: var(--primary);
    filter: drop-shadow(0 0 0.5em var(--primary));
  }

  .computer div:not(.miss, .hit):hover {
    background-color: var(--accent);
    filter: brightness(200%);
  }
}
